section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
  height: 100%;
}

#github-auth-btn {
  min-width: 500px;
  padding: 2rem;
  color: white;
  font-size: 1.2rem;
  background-color: black;
  border-radius: 10px;
}
