---
title: "Login"
permalink: '/'
eleventyNavigation:
    key: 'Main'
    order: '100'
---

{% extends 'layouts/base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<section>
  <form action="">
    <div class="formfield">
      <label>email</label>
      <input type="email" name="email" value="" id="email">
    </div>
    <div class="formfield">
      <label>password</label>
      <input type="password" name="password" value="" id="password">
    </div>
    <button type="submit">Login</button>
  </form>
</section>
{% endblock %}
